.family_img {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.about_content p {
  padding-left: 125px;
  padding-right: 125px;
  text-align: left;
}

.about_content h2 {
  padding-bottom: 50px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
}

.about_content span {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .about_content p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  .about_content h2 {
    margin-top: 25px;
  }
}
