.cart {
  display: flex;
  margin-top: 125px;
  min-height: 43vh;
}

#empty_cart {
  position: absolute;
  top: 30%;
  width: 90%;
  left: 5%;
  text-align: center;
}

.checkout_div {
  width: 100%;
}

.cart_title {
  margin-bottom: 50px;
  margin-left: -355px;
  font-size: 23px;
}

.cart_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 400px;
}

.cart_right h4 {
  margin-bottom: 20px;
}

.cart_button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cart_right {
    margin-left: -94%;
    margin-top: -30px;
    height: 50px;
  }

  .checkout_div {
    width: 100%;
  }

  #empty_cart {
    position: absolute;
    font-size: 23px;
    text-align: center;
    top: 200px;
    width: 90%;
    left: 5%;
  }

  .cart_right h4 {
    font-size: 20px;
  }

  .cart_button {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-left: -2px;
    margin-right: 0;
    width: 100%;
  }

  .cart_title {
    font-size: 22px;
    position: absolute;
    top: 240px;
    left: 377px;
  }

  .cart_left {
    margin-top: 180px;
  }
}
