.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #0d7377;
  color: #e6e6e6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 120px;
}

.footer_icons {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.footer_right {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
}

.footer_mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
}

.footer a {
  color: #e6e6e6;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_right {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
  }

  .footer_mid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer_left {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
