.product {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  max-height: 400px;
  min-width: 80px;
  align-items: center;
  justify-content: flex-end;
  margin: 30px;
  padding: 20px;
  width: 100%;
  border: 1px solid #d4d4d4;
}

@media screen and (max-width: 768px) {
  .product {
    margin: 10px;
  }
}

.product img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  padding-top: 30px;
}

.product-price {
  margin-top: 5px;
}

.product_info {
  margin-bottom: 15px;
  text-align: center;
  height: 50px;
}

.product button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}
