.products {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
}

.products_row {
  display: flex;
  justify-content: space-around;
}

.row_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.products_title {
  margin-top: 75px;
  margin-bottom: 35px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .products_row {
    flex-wrap: wrap;
  }

  .row_product {
    width: 180px;
    padding: 10px;
  }

  .products_title {
    font-size: 25px;
    margin-bottom: 0;
  }

  .products {
    overflow-y: hidden;
  }
}
