h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}
.recipe {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 200px;
}

.recipe_left_header {
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: 25px;
}

.recipe_left_quantity {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: 25px;
}

.light_font {
  margin-left: 50px;
  font-size: 25px;
}

.recipe_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.recipe_mid img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 450px;
}

.recipe_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.recipe_right h4 {
  margin-bottom: 40px;
}

.best_results {
  margin-top: 75px;
}

button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-left: 50px;
}

.price {
  margin-left: 50px;
}

.quantity {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    text-transform: none;
  }

  .recipe_left {
    width: 100%;
    margin-left: -100px;
  }

  .recipe_right {
    margin-top: -125px;
    width: 100%;
  }

  .recipe_mid img {
    height: 400px;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 20%;
  }

  .recipe_mid {
    height: 800px;
    width: 80%;
  }

  .recipe_left_header {
    margin-left: -20px;
  }

  .recipe_left_quantity {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
  }

  .light_font {
    margin-left: -20px;
  }

  .quantity {
    font-size: 20px;
    margin-left: -20px;
  }

  button {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-left: -20px;
    width: 450px;
  }

  .recipe_left_content {
    position: absolute;
    top: 570px;
  }

  .quantity_div {
    position: absolute;
    top: -490px;
    right: 25px;
  }

  .price {
    font-size: 25px;
    margin-top: 30px;
    margin-left: -20px;
  }
}
